.mainDiv {
    display: flex;
    flex: 1 1 auto;
    width: 960px;
    height: 960px;
    flex-direction: row;
    border: 10px solid darkgrey;
}
.divRow {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.pola {
    flex: 1;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

.polaColor {
    flex: 1;
    margin: 0px;
    background-color: black;
}